.serverSlot {
    -fx-background-color: transparent;
    .background {
        -fx-background-color: #E6E6E6;
        -fx-border-radius: 50%;
        -fx-border-color: #CCCCCC;
        -fx-border-width: 1;
    }

    .arc {
        -fx-stroke: #2BFF26;
    }

    .outerArc {
        -fx-stroke: #CCCCCC;
    }

    .title {
        -fx-font-family: "Segoe UI Semibold", sans-serif;
        -fx-font-size: 23px;
    }

    .amount {
        -fx-font-family: "Segoe UI", sans-serif;
        -fx-font-size: 21px;
    }

    .stuff {
        -fx-background-color: red;
        -fx-opacity: 80%;
    }
}